extends _layout

block content
    <div class="homepage">
        <h1>Hey, #{signedIn.username}</h1>

        <div class="flex items-center space-between">
            <h2>Your boards:</h2>

            <div class="modal-wrapper ml-20">
                <button class="open-modal">New board</button>
                <form class="modal" method="post" action="/api/boards/create">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>New board</h2>
                            <span class="close-modal hvr-btn">&times;</span>
                        </div>
                        <div class="modal-body">
                            <label class="form-field">
                                <p>Title:</p>
                                <input type="text" name="title" />
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button class="submit-modal">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div>
            for board in boards
                <a href="/boards/#{board.id}" class="homepage-board">#{board.title}</a>
        </div>

        <h2>Upcoming deadlines:</h2>

        <div>
            if upcoming.length == 0
                <div class="homepage-call">There are no upcoming deadlines. Take a break.</div>

            for task in upcoming
                <a href="/boards/#{task.board_id}" class="homepage-task">
                    <span class="homepage-deadline">#{task.nicelyFormattedDeadline}</span> #{task.name}
                </a>
        </div>

        <h2>Missed deadlines:</h2>

        <div>
            if missed.length == 0
                <div class="homepage-call">You have not missed any deadlines. Nice!</div>

            for task in missed
                <a href="/boards/#{task.board_id}" class="homepage-task">
                    <span class="homepage-deadline">#{task.nicelyFormattedDeadline}</span> #{task.name}
                </a>
        </div>
    </div>
